# Binaries
bin/
*.exe

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/

# Test / coverage
cover.out
*.prof
*.test

# Logs
.logs/
server-cov.out
cov.out
coverage.out
coverage_server.out
http-server

# codesearch local index
.codesearch.db/
